Repository HSU-Likelion12-yourSide/YourSide-Front, pull requests merged in 2024-09, with the labels that each got.

#36 네편 현답(QuestionAndAnswer)페이지 css를 작성한다.
  src/Page/QuestionAndAnswer/components/QuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/css/QuestionAndAnswer.scss
  src/Page/QuestionAndAnswer/image/learnMoreArrow.svg
Labels: 💅SCSS, 💄Styled

#37 Header와 Footer 영역, css를 작성한다.
  .github/ISSUE_TEMPLATE/작업-내용을-작성해주세요-.md
  .github/PULL_REQUEST_TEMPLATE.md
  src/App.jsx
  src/DevTerminal.jsx
  src/Page/Footer/components/Footer.jsx
  src/Page/Footer/css/Footer.css
  src/Page/Footer/css/Footer.scss
  src/Page/Header/components/Header.jsx
  src/Page/Header/css/Header.css
  src/Page/Header/css/Header.scss
  src/Page/Header/img/my-page.svg
Labels: 💅SCSS, 💄Styled

#38 내 근로 살펴보기(ViewMyWork) 페이지 css를 작성한다.
  src/App.jsx
  src/DevTerminal.jsx
  src/Page/WorkArrangement/components/ViewMyWork.jsx
  src/Page/WorkArrangement/components/ViewMyWorkOption.component.jsx
  src/Page/WorkArrangement/components/type/VmwBinaryAnswer.component.jsx
  src/Page/WorkArrangement/components/type/VmwInputAnswer.component.jsx
  src/Page/WorkArrangement/components/type/VmwMultiAnswer.component.jsx
  src/Page/WorkArrangement/css/ViewMyWork.scss
  src/Page/WorkArrangement/data/viewMyWork.data.js
Labels: ⚛React, 💅SCSS, 💄Styled

#42 내 근로 현환 결과지(ViewMyWorkResult) 페이지 css를 작성한다.
  src/App.jsx
  src/DevTerminal.jsx
  src/Page/Common/components/VmwrResult.component.jsx
  src/Page/Common/css/VmwrResult.component.scss
  src/Page/Common/temp/data/vmwrResult.data.js
  src/Page/WorkArrangement/components/ViewMyWork.jsx
  src/Page/WorkArrangement/components/ViewMyWorkOption.component.jsx
  src/Page/WorkArrangement/components/ViewMyWorkResult.jsx
  src/Page/WorkArrangement/components/VmwrButton.component.jsx
  src/Page/WorkArrangement/components/type/VmwBinaryAnswer.component.jsx
  src/Page/WorkArrangement/css/ViewMyWorkResult.scss
Labels: ⚛React, 🐵Moking

#46 내 계약서 검토(ContractReview)페이지 디테일 HTML 및 CSS 적용
  .env
  docs/Page_WorkArrangement_components_type_VmwBinaryAnswer.component.jsx.html
  docs/Test_CompileTest_myTest.js.html
  docs/fonts/OpenSans-Bold-webfont.eot
  docs/fonts/OpenSans-Bold-webfont.svg
  docs/fonts/OpenSans-Bold-webfont.woff
  docs/fonts/OpenSans-BoldItalic-webfont.eot
  docs/fonts/OpenSans-BoldItalic-webfont.svg
  docs/fonts/OpenSans-BoldItalic-webfont.woff
  docs/fonts/OpenSans-Italic-webfont.eot
  docs/fonts/OpenSans-Italic-webfont.svg
  docs/fonts/OpenSans-Italic-webfont.woff
  docs/fonts/OpenSans-Light-webfont.eot
  docs/fonts/OpenSans-Light-webfont.svg
  docs/fonts/OpenSans-Light-webfont.woff
  docs/fonts/OpenSans-LightItalic-webfont.eot
  docs/fonts/OpenSans-LightItalic-webfont.svg
  docs/fonts/OpenSans-LightItalic-webfont.woff
  docs/fonts/OpenSans-Regular-webfont.eot
  docs/fonts/OpenSans-Regular-webfont.svg
  docs/fonts/OpenSans-Regular-webfont.woff
  docs/global.html
  docs/index.html
  docs/myTest.js.html
  docs/scripts/linenumber.js
  docs/scripts/prettify/Apache-License-2.0.txt
  docs/scripts/prettify/lang-css.js
  docs/scripts/prettify/prettify.js
  docs/styles/jsdoc-default.css
  docs/styles/prettify-jsdoc.css
  docs/styles/prettify-tomorrow.css
  package-lock.json
  package.json
  src/DevTerminal.jsx
  src/Page/ContractReview/CSS/contractreview.css
  src/Page/ContractReview/components/ContractReview.jsx
  src/Page/ContractReview/css/contractreview.scss
  src/Trash/App.test.js
Labels: 💅SCSS, 💄Styled, ♻ refactoring

#48 develop 브랜치에 불필요한 코드가 있어서 삭제를 진행 했습니다.
  .env
Labels: ♻ refactoring
