Repository HSU-Likelion12-yourSide/YourSide-Front, pull requests merged in 2024-10, with the labels that each got.

#49 develop 브런치를 점검하고 모든 페이지에서 기능들을 점검한다.
  src/DevTerminal.jsx
  src/Page/ContractReview/components/ContractReview.jsx
  src/Page/ContractReview/css/contractreview.scss
  src/Page/Login/css/login.css
  src/Page/Main/components/Main.jsx
  src/Page/Main/css/Main.scss
  src/Page/Notation/components/Notation.jsx
  src/Page/Notation/components/NotationExample.jsx
  src/Page/Notation/css/notation.css
  src/Page/Notation/css/notationexample.css
  src/Page/QuestionAndAnswer/components/QuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/css/QuestionAndAnswer.scss
  src/Page/WorkArrangement/components/ViewMyWork.jsx
  src/Page/WorkArrangement/components/WorkArrangement.jsx
  src/Page/WorkArrangement/css/ViewMyWork.scss
  src/Page/WorkArrangement/css/WorkArrangement.scss
Labels: 💅SCSS, 💄Styled, ♻ refactoring

#51 Feature/41
  jsdoc.config.json
  package.json
  src/Global/components/VmwrResult.component.jsx
  src/Global/css/VmwrResult.component.scss
  src/Page/WorkArrangement/components/ViewMyWorkResult.jsx
  src/Page/WorkArrangement/css/ViewMyWorkResult.scss
Labels: ⚛React, 🐵Moking, 🏗API, ♻ refactoring

#56 각 페이지에 필요한 모달창을 구현한다.
  src/App.jsx
  src/DevTerminal.jsx
  src/Global/ContextProviderState.jsx
  src/Global/Hooks/useGlobalState.jsx
  src/Global/components/Modal.components.jsx
  src/Global/components/ModalType/ModalLogin.components.jsx
  src/Global/components/ModalType/ModalResult.components.jsx
  src/Global/components/ModalType/ModalResultMessage.components.jsx
  src/Global/components/ModalType/ModalShareMessage.components.jsx
  src/Global/components/ModalType/ModalSignUp.components.jsx
  src/Global/css/Modal.default.scss
  src/Global/css/Modal.scss
  src/Global/css/ModalType/Modal.login.scss
  src/Global/css/ModalType/Modal.result.scss
  src/Global/css/ModalType/Modal.resultMessage.scss
  src/Global/css/ModalType/Modal.shareMessage.scss
  src/Global/css/ModalType/Modal.signup.scss
  src/Global/function/modalStateController.js
  src/Global/image/modal-check.svg
  src/Global/image/modal-logo.svg
  src/Page/WorkArrangement/components/ViewMyWorkResult.jsx
  src/index.js
Labels: ⚛React, 💅SCSS, 💄Styled

#58 API 연동을 위해 환경설정을 점검한다.
  .eslintrc.json
  src/App.jsx
  src/DevFetchTerminalTest.jsx
  src/DevFetchTerminalTest.scss
  src/DevTerminal.jsx
  src/Global/API/Hooks/useFetchAPI.jsx
  src/Global/API/fetch.mocking.instance.js
  src/Page/QuestionAndAnswer/components/ViewQuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/css/ViewQuestionAndAnswer.scss
  src/Page/QuestionAndAnswer/image/bad-btn.svg
  src/Page/QuestionAndAnswer/image/bookmark.svg
  src/Page/QuestionAndAnswer/image/like-btn.svg
Labels: ⚛React, 🏗API, 🐞Bug

#59 ViewQuestionAndAnswer 부분을 리팩토링한다.
  src/Page/QuestionAndAnswer/components/ViewQuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/css/ViewQuestionAndAnswer.scss
  src/Page/QuestionAndAnswer/image/bookmark-hover.svg
Labels: 💅SCSS, 💄Styled, ♻ refactoring

#60 페이지를 연결하고 Alert를 활용해서 미완성 부분을 표기 한다.
  src/Global/components/ModalType/ModalShareMessage.components.jsx
  src/Global/function/navigateController.js
  src/Page/Header/components/Header.jsx
  src/Page/QuestionAndAnswer/components/Question.component.jsx
  src/Page/QuestionAndAnswer/components/QuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/components/RankQuestion.component.jsx
  src/Page/QuestionAndAnswer/css/Question.scss
  src/Page/QuestionAndAnswer/css/QuestionAndAnswer.scss
  src/Page/QuestionAndAnswer/css/RankQuestion.scss
  src/Page/WorkArrangement/components/WorkArrangement.jsx
  src/Page/WorkArrangement/components/WorkArrangementResult.component.jsx
  src/Page/WorkArrangement/css/WorkArrangement.scss
  src/Page/WorkArrangement/css/WorkArrangementResult.scss
Labels: ⚛React, 💅SCSS, 💄Styled, ♻ refactoring

#53 게시글 작성(QnAPosting)페이지 css를 작성한다.
  package-lock.json
  src/App.jsx
  src/Page/QnAPosting/components/QnAPosting.jsx
  src/Page/QnAPosting/css/QnAPosting.scss
  src/Page/QnAPosting/image/plusIcon.svg
Labels: ⚛React, 🐵Moking, 💅SCSS, 💄Styled, 🗑Legacy

#62 네편현답(QuestionAndAnswer) 페이지의 질문 목록 API를 연결한다.
  src/Page/QuestionAndAnswer/components/Question.component.jsx
  src/Page/QuestionAndAnswer/components/QuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/components/RankQuestion.component.jsx
Labels: ⚛React, 🏗API

#65 네편현답 상세 보기 (ViewQuestionAndAnswer) 페이지와 근로지 결과(VmwrResult) API를 연결한다.
  src/App.jsx
  src/Global/ContextProviderState.jsx
  src/Global/components/VmwrResult.component.jsx
  src/Page/QuestionAndAnswer/components/Question.component.jsx
  src/Page/QuestionAndAnswer/components/QuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/components/ViewQuestionAndAnswer.jsx
  src/Page/QuestionAndAnswer/css/ViewQuestionAndAnswer.scss
Labels: ⚛React, 🏗API, 🐞Bug
